.start__title :nth-child(1) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}
.start__title :nth-child(2) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #F2F2F2;
}
.start-button button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: none;
    border: none;
}

/* RIGHT SECTION */
.form__title h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 41px;
    color: #121212;
}
.input-form input {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #989898;
}
.checkbox p {
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #989898;
    margin: 0;
    padding-bottom:1px;
}
.checkbox a {
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #121212;
    text-decoration: none;
}
.signup-btn button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: none;
    border: none;
}
.join a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #272730;
    text-decoration: none;
}

